/**
 *
 * Silverclean Pro WordPress Theme by Iceable Themes | http://www.iceablethemes.com
 *
 * Copyright 2013 Mathieu Sarrasin - Iceable Media
 *
 * Media Queries CSS
 *
 */


/* #Tablet (Portrait)
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#navbar > .menu-container {
		width: 587px;
	}
	#nav-search {
		width: 167px;
	}
	#nav-search #s {
		width: 135px;
	}
	#sidebar #searchform #s {
		width: 117px;
	}
	#calendar_wrap td {
		padding: 1px 3px;
	}
}


/* #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
	#logo {
		text-align: center 
	}
	#navbar > .menu-container {
		width: 300px;
	}
	#nav-search {
		display: none;
	}
	.post-contents {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.postmetadata {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	#sidebar #searchform #s {
		width: 245px;
	}
	#calendar_wrap td {
		padding: 3px 12px;
	}
}


/* #Mobile (Landscape)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#navbar > .menu-container {
		width: 420px;
	}
	#sidebar #searchform #s {
		width: 365px;
	}
	#calendar_wrap td {
		padding: 5px 20px;
	}
}